:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #d5011c;
}

* {
    box-sizing: inherit;
}

html {
    /* Hack */
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1800px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width {
    width: 100%;
}
.grid__header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 45px;
    margin-bottom: -35px;
}
.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0px;
    margin-right: 0px;
}

.grid__column-6 {
    width: 50%;
    padding-left:0px;
    padding-right:0px;
}
.grid__column-4 {
    width: 33.33333%;
    padding-left:0px;
    padding-right:0px;
}
.grid__column-2 {
    width: 40%;
}
.grid__column-3 {
    width: 25%;
}
.grid__column-1 {
    width: 20%;
}
.modal {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}